Repository Sain49/heritage-explorer-swe, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, app, styles, config, assets, dependencies, github-actions

.github/labeler.yml:

# Configuration for the labeler workflow
# Add labels to pull requests based on the paths of files being changed

# Label PRs that modify documentation
documentation:
  - changed-files:
    - any-glob-to-any-file: ['**/*.md', 'docs/**/*']

# Label PRs that modify the app directory (main application code)
app:
  - changed-files:
    - any-glob-to-any-file: 'app/**/*'

# Label PRs that modify styles
styles:
  - changed-files:
    - any-glob-to-any-file: ['**/*.css', '**/*.scss', '**/*.sass']

# Label PRs that modify configuration files
config:
  - changed-files:
    - any-glob-to-any-file: 
      - '*.config.*'
      - '*.json'
      - '.eslintrc*'
      - '.prettierrc*'
      - 'tsconfig.json'

# Label PRs that modify public assets
assets:
  - changed-files:
    - any-glob-to-any-file: 'public/**/*'

# Label PRs that modify dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file: 
      - 'package.json'
      - 'package-lock.json'

# Label PRs that modify GitHub workflows
github-actions:
  - changed-files:
    - any-glob-to-any-file: '.github/**/*'

install react-leaflet dependencies
  package-lock.json
  package.json
Labels: config, dependencies

add map component with react-leaflet integration
  components/map.tsx
Labels: none

add map component and implement two-column layout for search results
  app/page.tsx
Labels: app

add MapErrorBoundary component to handle map loading errors
  components/map-error-boundary.tsx
Labels: none

enhance map component with loading state and error handling
  components/map.tsx
Labels: none

add MapErrorBoundary to wrap map copmonent
  app/page.tsx
Labels: app

dynamically import Map component to resolve SSR issues with Leaflet
  app/page.tsx
Labels: app

fix typo in comment and update error logging variable in MapErrorBoundary
  components/map-error-boundary.tsx
Labels: none

remove invalid map coordinates validation from Map component
  components/map.tsx
Labels: none

improved code comments
  components/map.tsx
Labels: none

add Marker and Popup components to Map for site display
  components/map.tsx
Labels: none

pass sites prop to Map component for improved data handling
  app/page.tsx
Labels: app

fix: update default marker icons for Leaflet in Next.js
  components/map.tsx
Labels: none

add validation for site coordinates and improve error handling in Map component
  components/map.tsx
Labels: none

add marker icon images locally
  public/marker-icon-2x.png
  public/marker-icon.png
  public/marker-shadow.png
Labels: assets

update marker icon URLs to local paths in Map component
  components/map.tsx
Labels: none

fix type assertion for default marker icon
  components/map.tsx
Labels: none

move error message in Map component outside MapContainer
  components/map.tsx
Labels: none

clarify comments regarding Leaflet default marker icon handling in Next.js
  components/map.tsx
Labels: none

add searchByBoundingBox function to retrieve heritage sites within specified coordinates
  lib/api/nominatim.ts
Labels: none

add popular locations and location search func to Home page
  app/page.tsx
Labels: app

refactor searchByBoundingBox function to use const for queryParts
  lib/api/nominatim.ts
Labels: none

use underscore for unused parameter in getDerivedStateFromError
  components/map-error-boundary.tsx
Labels: none

import Map component dynamically to improve SSR handling
  app/page.tsx
Labels: app

refactor searchByBoundingBox to improve tag mapping for heritage site classification
  lib/api/nominatim.ts
Labels: none

enhance location buttons with styling and accessibility features
  app/page.tsx
Labels: app

increase result limit for searchByName and Overpass queries to enhance data retrieval
  lib/api/nominatim.ts
Labels: none

implement pagination for search results
  app/page.tsx
Labels: app

improve semantics
  app/page.tsx
Labels: app

implement contact form with submission handling
  app/contact-us/page.tsx
Labels: app

add form validation and error handling to contact form
  app/contact-us/page.tsx
Labels: app

improved styling and error message display
  app/contact-us/page.tsx
Labels: app

add description andstyling for MyRoute component for improved use experience
  app/my-route/page.tsx
Labels: app

remove unused Wikidata and Wikipedia display code from SiteDetails component
  app/site-details/site-details-content.tsx
Labels: app

improved validation and error handling in fetchWikidataImage function
  lib/api/wikidata.ts
Labels: none

improved validation and loading states for Wikidata
  app/site-details/site-details-content.tsx
Labels: app

improved error handling and validation in fetchOSMDetails function
  lib/api/osm.ts
Labels: none

add loading component for global loading state
  app/loading.tsx
Labels: app

add 404 Not Found page component
  app/not-found.tsx
Labels: app

update button styling on 404 Not Found page
  app/not-found.tsx
Labels: app
