Repository Sain49/heritage-explorer-swe, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, app, styles, config, assets, dependencies, github-actions

add error boundary component for handling page errors
  app/error.tsx
Labels: app

improved styling for site details component
  app/site-details/site-details-content.tsx
Labels: app

add TempleIcon as logo and update header styling
  components/header.tsx
Labels: none

improved footer styling
  components/footer.tsx
Labels: none

enhance contact-us page styling and validation feedback
  app/contact-us/page.tsx
Labels: app

improved home page styling
  app/page.tsx
Labels: app

enhance site details component styling and error handling
  app/site-details/site-details-content.tsx
Labels: app

enhance error boundary component styling and layout
  app/error.tsx
Labels: app

improved styling to match overall theme
  app/not-found.tsx
Labels: app

fix: correct HTML entity for apostrophe in confirmation message
  app/contact-us/page.tsx
Labels: app

replace img with next/image for optimized loading of Wikidata images
  app/site-details/site-details-content.tsx
Labels: app

comment out unused handlePageChange function
  app/page.tsx
Labels: app

update next.config.ts to include image patterns for Wikimedia
  .gitignore
  next.config.ts
Labels: config

small styling improvement
  app/loading.tsx
Labels: app

small styling improvement
  app/site-details/site-details-content.tsx
Labels: app

a bit better looking
  app/page.tsx
Labels: app

implement pagination hook for managing paginated data
  lib/hooks/use-pagination.ts
Labels: none

add useSearch hook for searching heritage sites by name, category, and location
  lib/hooks/use-search.ts
Labels: none

add popular locations data structure with predefined locations and bounding boxes
  data/popular-locations.ts
Labels: none

add SiteCard component
  components/site-card.tsx
Labels: none

add Pagination component
  components/pagination.tsx
Labels: none

add FeaturedMuseums component
  components/featured-museums.tsx
Labels: none

add PopularLocations component
  components/popular-locations.tsx
Labels: none

add SearchForm component
  components/search-form.tsx
Labels: none

add SearchResults component
  components/search-results.tsx
Labels: none

refactor Home component to use custom hooks for search and pagination; integrate SearchResults and Pagination components
  app/page.tsx
Labels: app

add custom hook useSiteDetails for fetching OSM and Wikidata details
  lib/hooks/use-site-details.ts
Labels: none

add formatAddress utility function for building address strings from OSM tags
  lib/utils/format-address.ts
Labels: none

add ErrorMessage component for displaying error messages
  components/error-message.tsx
Labels: none

add LoadingSkeleton component for displaying loading state
  components/loading-skeleton.tsx
Labels: none

add SiteDetailsHeader component
  components/site-details-header.tsx
Labels: none

add SiteDetailsField component
  components/site-details-field.tsx
Labels: none

add useContactForm hook for managing contact form state and validation
  lib/hooks/use-contact-form.ts
Labels: none

add FormField component for reusable form input with validation
  components/form-field.tsx
Labels: none

add ContactSuccessMessage component to display submission confirmation
  components/contact-success-message.tsx
Labels: none

refactor ContactUs component to use useContactForm hook for state management and validation
  app/contact-us/page.tsx
Labels: app

refactor SiteDetails component to use useSiteDetails hook for data fetching and simplify state management
  app/site-details/site-details-content.tsx
Labels: app

update footer to correct data sourcing information
  components/footer.tsx
Labels: none

remove unused types
  types/site.ts
Labels: none

add type definitions for search functionality
  types/search.ts
Labels: none

.github/labeler.yml:

# Configuration for the labeler workflow
# Add labels to pull requests based on the paths of files being changed

# Label PRs that modify documentation
documentation:
  - changed-files:
    - any-glob-to-any-file: ['**/*.md', 'docs/**/*']

# Label PRs that modify the app directory (main application code)
app:
  - changed-files:
    - any-glob-to-any-file: 'app/**/*'

# Label PRs that modify styles
styles:
  - changed-files:
    - any-glob-to-any-file: ['**/*.css', '**/*.scss', '**/*.sass']

# Label PRs that modify configuration files
config:
  - changed-files:
    - any-glob-to-any-file: 
      - '*.config.*'
      - '*.json'
      - '.eslintrc*'
      - '.prettierrc*'
      - 'tsconfig.json'

# Label PRs that modify public assets
assets:
  - changed-files:
    - any-glob-to-any-file: 'public/**/*'

# Label PRs that modify dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file: 
      - 'package.json'
      - 'package-lock.json'

# Label PRs that modify GitHub workflows
github-actions:
  - changed-files:
    - any-glob-to-any-file: '.github/**/*'
