Repository Sain49/heritage-explorer-swe, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, app, styles, config, assets, dependencies, github-actions

.github/labeler.yml:

# Configuration for the labeler workflow
# Add labels to pull requests based on the paths of files being changed

# Label PRs that modify documentation
documentation:
  - changed-files:
    - any-glob-to-any-file: ['**/*.md', 'docs/**/*']

# Label PRs that modify the app directory (main application code)
app:
  - changed-files:
    - any-glob-to-any-file: 'app/**/*'

# Label PRs that modify styles
styles:
  - changed-files:
    - any-glob-to-any-file: ['**/*.css', '**/*.scss', '**/*.sass']

# Label PRs that modify configuration files
config:
  - changed-files:
    - any-glob-to-any-file: 
      - '*.config.*'
      - '*.json'
      - '.eslintrc*'
      - '.prettierrc*'
      - 'tsconfig.json'

# Label PRs that modify public assets
assets:
  - changed-files:
    - any-glob-to-any-file: 'public/**/*'

# Label PRs that modify dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file: 
      - 'package.json'
      - 'package-lock.json'

# Label PRs that modify GitHub workflows
github-actions:
  - changed-files:
    - any-glob-to-any-file: '.github/**/*'

correct typo metadat to metadata/visitSweden.ts
  types/visitSweden.ts
Labels: none

Update types/site.ts corrected typo
  types/site.ts
Labels: none

Update lib/api/visitSweden.ts corrected typo
  lib/api/visitSweden.ts
Labels: none

Update lib/api/visitSweden.ts corrected typo
  lib/api/visitSweden.ts
Labels: none

remove visitSweden API integration and related functions
  lib/api/visitSweden.ts
Labels: none

remove: delete visitSweden type definitions and related structures
  types/visitSweden.ts
Labels: none

refactor: define TagMapping type for better clarity in category mapping
  lib/api/nominatim.ts
Labels: none

correct category name for archaeological sites in SiteExplorer
  app/site-explorer/page.tsx
Labels: app

refactor: remove unused latitude and longitude properties from OSMElement type
  types/site.ts
Labels: none

implement OSM data fetching and xml parsing functions
  lib/api/osm.ts
Labels: none

fetch and display OSM information in site-deatils page
  app/site-details/page.tsx
Labels: app

improve UI layout and add site detail links to site-explorer
  app/site-explorer/page.tsx
Labels: app

add basic styling for global header
  components/header.tsx
Labels: none

add basic styling for global footer
  components/footer.tsx
Labels: none

add flexbox to layout file
  app/layout.tsx
Labels: app

add basic styling and error handling for site-details page
  app/site-details/page.tsx
Labels: app

extract content into separate component and add suspense for loading in site-details page
  app/site-details/page.tsx
  app/site-details/site-details-content.tsx
Labels: app

remove unused import for OSMResponse in osm.ts
  lib/api/osm.ts
Labels: none

install fast-xml-parser for better xml parsing
  package-lock.json
  package.json
Labels: config, dependencies

improve XML parsing logic in OSM api
  lib/api/osm.ts
Labels: none

changed button to link for viewing site details
  app/site-explorer/page.tsx
Labels: app

remove external link and replace with plain text for data source in footer
  components/footer.tsx
Labels: none

refactor OSM element types to separate node, way, and relation to ensure valid coordinates
  types/site.ts
Labels: none

add support for OSMNode with latitude and longitude validation in XML parsing
  lib/api/osm.ts
Labels: none

add fetchWikidataImage function to retrieve image and description from Wikidata
  lib/api/wikidata.ts
Labels: none

add Wikidata image and description display in SiteDetails component
  app/site-details/site-details-content.tsx
Labels: app

refactor Wikidata response types in site.ts
  types/site.ts
Labels: none

refactor WikidataBinding type to include image and description fields
  types/site.ts
Labels: none

refactor WikidataImageData type for clarity in imageUrl and description fields
  types/site.ts
Labels: none

update header navigation to link Home instead of site-explorer
  components/header.tsx
Labels: none

moved site-explorer functionality and UI to home page
  app/page.tsx
Labels: app

removed site-explorer from workspace
  app/site-explorer/page.tsx
Labels: app

add FeaturedMuseum type definition
  types/featured-museums.ts
Labels: none

add FEATURED_MUSEUMS with museum details
  data/featured-museums.ts
Labels: none

add featured museums section with clickable buttons for search
  app/page.tsx
Labels: app

update site details links to redirect to home
  app/site-details/site-details-content.tsx
Labels: app

refactor: update comment to clarify rejection of invalid heritage site types
  lib/api/nominatim.ts
Labels: none

refactor: comments for clarity in parseOSMXml function
  lib/api/osm.ts
Labels: none

fix: reduce result limits in search functions to improve performance
  lib/api/nominatim.ts
Labels: none

refactor: update comments for clarity in result section
  app/page.tsx
Labels: app
